@media screen and (max-width: 1200px) {
	html {
		font-size: 95%;
	}
	.page__row {
		padding: 1.5625rem 1rem 1.5625rem 1.5rem;
	}
	.page__row_granitic {
		padding: 0 1rem !important;
	}
	.menu__link::after {
		height: 1px;
	}
}
@media screen and (max-width: 992px) {
	html {
		font-size: 82%;
	}
}
@media screen and (max-width: 768px) {
	html {
		font-size: 80%;
	}
	.page__row_granitic, .page__cell_granitic {
		height: 45px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.logo {
		padding-bottom: 0px;
	}
	.burger {
		display: block;
		width: 40px;
		height: 25px;
		cursor: pointer;
		position: relative;
		margin-top: 15px;
		margin-bottom: 15px;
		vertical-align: middle;
	}
	.burger__line {
		display: block;
		width: 100%;
		height: 3px;
		background-color: white;
		position: absolute;
		left: 0;
		transition: .3s all linear;
	}
	.burger__line_first {
			top: 0;
		}
	.burger__line_second {
		top: 50%;
		transform: translateY(-50%);
	}
	.burger__line_third {
		top: 50%;
		transform: translateY(-50%);
	}
	.burger__line_fourth {
		bottom: 0;
	}
	.burger_active.burger__line_first {
		opacity: 0;
	}
	.burger_active.burger__line_fourth {
		opacity: 0;
	}
	.burger_active.burger__line_second{
		transform: translateY(-50%) rotate(45deg);
	}
	.burger_active.burger__line_third{
		transform: translateY(-50%) rotate(-45deg);
	}
/*	.mobile-menu__btn {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		width: 35px;
		height: 30px;
		cursor: pointer;
		-webkit-transition: .4s;
		transition: .4s;
	}
	.mobile-menu__icon {
		display: block;
		position: relative;
		background: white;
		width: 90%;
		height: 2px;
		-webkit-transition: .4s;
		transition: .4s;
	}
	.mobile-menu__icon::after, .mobile-menu__icon::before {
		content: "";
		display: block;
		position: absolute;
		background: white;
		width: 100%;
		height: 2px;
		-webkit-transition: .4s;
		transition: .4s;
	}
	.mobile-menu__icon::after {
		top: 8px;
	}
	.mobile-menu__icon::before {
		top: -8px;
	}*/
	.mobile-menu__container {
		position: fixed;
		text-align: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		top: 45px;
		left: 0;
		right: 0;
		z-index: 999;
		height: 0;
		opacity: 1;
		-webkit-transition: .5s;
		transition: .5s;
		overflow: hidden;
		background-color: #333745;
	}
	.mobile-menu__list {
		-webkit-transition: .5s;
		transition: .5s;
		display: block;
		padding-left: 0;
		margin-top: -50px;
	}
	.mobile-menu__item {
		font-size: 1.5rem;
		padding: 0rem 1rem 15px !important;
	}
	.mobile-menu__link {
		text-decoration: none;
		color: #fff;
	}
	.mobile-menu__checkbox:checked ~ .mobile-menu__nav {
		opacity: 1;
	}
	.mobile-menu__checkbox:checked ~ .mobile-menu__container {
		height: 100%;
	}
	.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
		background: transparent;
	}
	.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
		top: 0;
	}
	.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
	.services__menu {
		width: 100%;
	}
	.services__information {
		width: 100%;
	}
	.slider .owl-nav {
		position: absolute;
		right: 0;
	}
	.portfolio__slider .owl-nav {
		top: -100px;
	}
	.services__menu-slider .owl-nav {
		top: -50px;
	}

	.slider .owl-prev span, .slider .owl-next span {
		font-size: 100px;
		color: #333745;
	}
}
@media screen and (max-width: 600px) {
	.advantage__item	.clearfix::after {
		content: "";
		display: table;
		clear: both;
		height: 50px;
	}
	.advantage__item_box {
		float: left;
		margin-left: 0;
		text-align: left;
	}
	.advantage__item::before {
		display: none;
	}
	.advantage-text::before {
		position: absolute;
		display: block;
		content: "";
		width: 1px;
		height: 100%;
		background: #6F04C3;
		left: -0.1rem;
		top: 0;
	}
	.advantage-headline {
		width: auto;
		padding: 1rem 0 !important;
	}
	.advantage-text {
		position: absolute;
		top: 50px;
		width: auto;
		left: 30px;
	}
	.button {
		padding: 0.75rem 2rem;
	}
	.services__menu {
		width: 100%;
		margin-left: 0;
	}
	.services__menu .menu__list {
		-webkit-box-pack: left;
		-ms-flex-pack: left;
		justify-content: left;
	}
	.services__information {
		width: 100%;
	}
	.scrollup {
		display: none !important;
	}
}
